<!DOCTYPE html>
<html lang="es">

<head>
  <!--[if gte mso 15]>
    <xml>
      <o:OfficeDocumentSettings>
        <o:AllowPNG />
        <o:PixelsPerInch>96</o:PixelsPerInch>
      </o:OfficeDocumentSettings>
    </xml>
  <![endif]-->
  <title>ClipMx - Payment Request</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <link href="https://fonts.googleapis.com/css?family=Barlow:400,600,700  " rel="stylesheet">
  <style>
    * {
      font-family: 'Barlow', sans-serif !important;
    }

    body {
      margin: 0;
      padding: 0;
      background: #F8FBFE;
    }
    ul {
      list-style-type: circle;
      padding-inline-start: 0;
      margin-left: 90px;
    }
    ul > li {
      display: flex;
      text-align: left;
      width: 100%;
      margin-top: 24px;
      margin-bottom: 24px;
      line-height: 25px;
    }
    ul li::before {
      content: "\2022";
      color: #0074b7;
      display: inline-block; 
      width: 1em;
      font-size: 2em;
    }
    .image {
      margin: 0 auto;
      margin-bottom: 40px; 
      height: 51px;
    }
    @media screen and (max-width:480px) {
      .responsive-button {
          width: 250px !important;
        }
      ul {
        list-style: none;
        padding-inline-start: 0;
        margin-left: 55px !important;
      }
      .icons-left {
        display: block;
        padding: 30px 35px 30px 35px !important;
      }
      ul li::before {
        content: "\2022";
        color: #0074b7;
        display: inline-block; 
        width: 1em;
        font-size: 2em;
        margin-left: -1em;
      }
      .image {
        width: 300px;
        height: 45px;
        margin: 0 auto;
      }
    }
  </style>
</head>

<body>
  <div style="margin: 0 auto;text-align: center;">
    <div style="max-width: 500px;border-right: 2px solid #ececec;border-bottom: 2px solid #ececec;margin: 0 auto;">

      <hr style="margin: 0; border-top: 4px solid #fc4c02">
      <div style="width: 100%;background-color: #FFF;border: 1px solid #f9f9f9;">
        <div style="display: flex;padding: 28px 0 0px 0;width: 100%;height: 100px;background-repeat: no-repeat;background-size: 100% 100%;color: #455A64;">
            <img class="image" src="{{assetsUrl}}/payment/enlace-clip.png" alt="clip" />
        </div>
        <span
        style="display: block; color:#001724;font-size:22px;font-weight: 700;font-stretch: normal;line-height: normal;letter-spacing: 0.45px;text-align: center;">
            Transacciona a <br> distancia
        </span>
        <div style="width: 100%;">
          <img src="{{assetsUrl}}/payment/transactionIcon.png" alt="Clip Transaction" style="margin-bottom: 40px;margin-top: 40px;">
        </div>
        <div>
            <span style="color: #001724!important;line-height: 1.6;">
                <span style="font-weight: 700">¡Ya puedes aceptar pagos a distancia</span> con Clip! <br>
                Una solución más para ti y tus clientes, sin <br> importar si tu negocio es físico o digital. 
            </span>
        </div>
        <span style="display: block; margin-top: 32px; color:#001724; font-size:22px;font-weight: 600;font-stretch: normal;line-height: normal;letter-spacing: 0.45px;text-align: center;">
            Así de fácil:
        </span>

        <div style="display: block;padding: 30px 35px 30px 50px;" class="icons-left">  
          <span style="display: block;text-align: left;">
              <div style="display: flex;">
                <img style="margin: 5px;vertical-align: middle;width: 30px;height: 30px;margin-right: 15px;" src="{{assetsUrl}}/payment/appIcon.png" alt="icon" />
                <span style="color:  #001724;font-weight: 400;">Ingresa el monto total y selecciona el <br> icono <img width="15px" height="15px" src="{{assetsUrl}}/payment/clip-xpay.png" alt="xpay"> junto al botón <br> "Aceptar Pago”.</span>
              </div>
          </span>
          <span style="display: block;text-align: left;margin-top: 24px;">
            <div style="display: flex;">
              <img style="margin: 5px;vertical-align: middle;width: 30px;height: 30px;margin-right: 15px;" src="{{assetsUrl}}/payment/systemIcon.png" alt="icon" />
              <span style="color:  #001724;font-weight: 400;">Llena un formulario con los datos de tu cliente y genera un enlace seguro.</span>
            </div>
          </span>
          <span style="display: block;text-align: left;margin-top: 24px;">
            <div style="display: flex;">
              <img style="margin: 5px;vertical-align: middle;width: 30px;height: 30px;margin-right: 15px;" src="{{assetsUrl}}/payment/moneyIcon.png" alt="icon" />
              <span style="color:  #001724;font-weight: 400;">Tu cliente recibirá el enlace por <br> 
                correo electrónico para realizar el <br> pago a distancia. Puedes reenviárselo <br> 
                a través de WhatsApp, SMS o tu red <br> social favorita. </span>
            </div>
          </span>
          <span style="display: block;text-align: left;margin-top: 24px;">
            <div style="display: flex;">
              <img style="margin: 5px;vertical-align: middle;width: 30px;height: 30px;margin-right: 15px;" src="{{assetsUrl}}/payment/dollarIcon.png" alt="icon" />
              <span style="color:  #001724;font-weight: 400;">Monitorea el pago desde la app de <br> Clip.</span>
            </div>
          </span>
        </div>

        <div>
          <span style="display: block; margin-top: 32px; color:#001724; font-size:22px;font-weight: 600;font-stretch: normal;line-height: normal;letter-spacing: 0.45px;text-align: center;">
            ¿Qué más debo saber sobre los enlaces <br> de pago?
          </span>
          <table style="margin: 0 auto;margin-top: 24px;margin-bottom: 24px;color: #001724;font-weight: 400;">
            <tr>
              <td style="vertical-align: initial;font-size: 1.5em;color: #0074b7;padding: 10px;">&bull;</td>
              <td style="text-align: left;padding: 10px;line-height: 25px;">Cada enlace tiene una vigencia de 72 <br> horas. Si tu cliente no paga en ese tiempo, <br> siempre podrás mandarle otro.</td>
            </tr>
            <tr>
              <td style="vertical-align: initial;font-size: 1.5em;color: #0074b7;padding: 10px;">&bull;</td>
              <td style="text-align: left;padding: 10px;line-height: 25px;">Acepta pagos con Visa, Mastercard y <br> Carnet (tarjetas emitidas en México).</td>
            </tr>
            <tr>
              <td style="vertical-align: initial;font-size: 1.5em;color: #0074b7;padding: 10px;">&bull;</td>
              <td style="text-align: left;padding: 10px;line-height: 25px;">El monto máximo es de $3,000 pesos.</td>
            </tr>
            <tr>
              <td style="vertical-align: initial;font-size: 1.5em;color: #0074b7;padding: 10px;">&bull;</td>
              <td style="text-align: left;padding: 10px;line-height: 25px;">Tu dinero se depositará en tu cuenta 48 <br> horas después de que se realice el pago.</td>
            </tr>
          </table>
        </div>

        <a
          href="https://payclip.page.link/app"
          target="_blank"
          style="margin-top:42px;padding: 14px 25px;margin: 0 auto;
          font-size: 16px;cursor: pointer;text-decoration: none;color: #ffffff;width: 300px;
          border-radius: 4px;background-color: #0288d1; display: block;font-weight: 700; text-transform: uppercase;" 
          class="responsive-button">
          Enviar un enlace Clip
        </a>

        <div style="display: block;padding: 30px 35px 30px 35px;" >
          <h3 style="font-size: 15px;color: #001724;font-weight: 600;">
            Más información
          </h3>
          <span style="display: block;text-align: left;">
              <img style="margin: 5px;vertical-align: middle;width: 30px;height: 30px;" src="{{assetsUrl}}/payment/whatsappIcon.png" alt="" />
              <span style="color:  #001724;">WhatsApp: <a style="color: #0074b7;" href="https://api.whatsapp.com/send?phone=5215563932323&text=&source=&data=">55 6393 2323</a> </span>
          </span>
          <span style="display: block;text-align: left;">
              <img style="margin: 5px;vertical-align: middle;width: 30px;height: 30px;" src="{{assetsUrl}}/payment/mailIcon.png" alt="" />
              <span style="color:  #001724;">Escríbenos: <a style="color: #0074b7;" href="mailto:help@clip.mx">help@clip.mx</a> </span>
          </span>
          <span style="display: block;text-align: left;">
            <img style="margin: 5px;vertical-align: middle;width: 30px;height: 30px;" src="{{assetsUrl}}/payment/phoneIcon.png" alt="" />
            <span style="color:  #001724;">Llamanos: <a style="color: #0074b7;" href="tel:5563932323">55 6393 2323</a> </span>
          </span>
        </div>

        <div style="margin-top: 45px;background-color: #f5f7fa;text-align: center;padding: 30px 35px 30px 35px;">
          <span style="color: #001724;font-size: 13px;font-weight: 400;line-height: normal;text-align: justify;">
            ¿Necesitas ayuda? <br> Customer Happiness® te atiende 24/7, todo el año. 
            <br><br>     
            Escríbenos por WhatsApp o llámanos al
            <a style="color: #0074b7;text-decoration: none;" target="_blank" href="https://api.whatsapp.com/send?phone=5215563932323&text=&source=&data=">
              55 6393-2323</a>. Envía un <br> correo a 
            <a style="color: #0074b7;text-decoration: none;" target="_blank" href="mailto:help@clip.mx">help@clip.mx</a>
                o solicita apoyo en el chat de
            <a style="color: #0074b7;text-decoration: none;" target="_blank" href="https://www.clip.mx">
                clip.mx.
            </a>
          </span>
        </div>

        <div style="width: 100vw;margin: 70px 0 200px 0;display: table-cell;">

          <div style="margin: 0 auto; margin-top: 71px;">
            <a style="margin-right: 16px;text-decoration: none;" href="https://www.facebook.com/clipmx/"
              target="_blank">
              <img width="32" height="32" alt="facebook" src="{{assetsUrl}}/common/facebook.png" />
            </a>
            <a style="margin-right: 16px;text-decoration: none;" href="https://twitter.com/clip_mx/" target="_blank">
              <img width="32" height="32" alt="twitter" src="{{assetsUrl}}/common/twitter.png" />
            </a>
            <a style="margin-right: 16px;text-decoration: none;" href="https://www.youtube.com/user/clipmx/"
              target="_blank">
              <img width="32" height="32" alt="youTube" src="{{assetsUrl}}/common/youtube.png" />
            </a>
            <a style="margin-right: 16px;" href="https://www.instagram.com/clip.mx/" target="_blank">
              <img width="32" height="32" alt="instagram" src="{{assetsUrl}}/common/instagram.png" />
            </a>
          </div>

          <div style="padding-top: 13px;margin-top: 16px;font-size: 14px;line-height: 18px;color: #455A64;margin-bottom: 200px;">
            <span style="font-size: 13px;">Copyright 2021 PayClip, Inc.</span>
            <span style="display: block;width: 100%;margin-top: 20px;">
              <a style="font-size: 13px;color: #455A64;text-decoration: none;" href="https://clip.mx/privacidad/"
                target="_blank">
                Aviso de Privacidad
              </a> <br>
              Al usar Enlace Clip aceptas los
              <a style="font-size: 13px;color: #455A64;text-decoration: none;" href="https://mkt.clip.mx/es-mx/consulta-los-terminos-y-condiciones-pagos-a-distancia-clip"
                target="_blank">
                Términos y Condiciones.
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
